In [1]:
import pandas as pd
import numpy as np

## Question 1

In [2]:
pd.__version__

'2.1.0'

## Question 2

In [3]:
laptop_df = pd.read_csv(r'C:\Users\Виталий\PycharmProjects\ml_zoomcamp_2024\laptops.csv')
laptop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

In [4]:
print(r'Records count: ' + str(len(laptop_df)))

Records count: 2160

## Question 3

In [5]:
print(r"Number of brands: " + str(laptop_df['Brand'].nunique()))

Number of brands: 27

## Question 4

In [6]:
df_nan_columns = laptop_df.loc[:, laptop_df.isnull().any()]
print(df_nan_columns.axes[1])
print(r'Number of columns with missing values: ' + str(len(df_nan_columns.axes[1])))

Index(['Storage type', 'GPU', 'Screen'], dtype='object')
Number of columns with missing values: 3

## Question 5

In [7]:
df_dell_brand = laptop_df[laptop_df["Brand"] == "Dell"]
print(r'Maximum final price of Dell notebooks: ' + str(df_dell_brand["Final Price"].max()))

Maximum final price of Dell notebooks: 3936.0

## Question 6

In [8]:
median_screen = laptop_df.Screen.median()
laptop_df_with_filling = laptop_df.copy()
laptop_df_with_filling.Screen = laptop_df_with_filling.Screen.fillna(laptop_df.Screen.mode())
median_screen_with_filling = laptop_df_with_filling.Screen.median()
print(r'Median value of Screen before filling: ' + str(median_screen))
print(r'Median value of Screen after filling: ' + str(median_screen_with_filling))
print(r'Has it changed: ' + str(median_screen != median_screen_with_filling))

Median value of Screen before filling: 15.6
Median value of Screen after filling: 15.6
Has it changed: False

## Question 7

In [9]:
laptop_df.groupby("Brand").count()

,Laptop,Status,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
Brand,,,,,,,,,,,
Acer,137,137,137,137,137,137,137,51,136,137,137
Alurin,29,29,29,29,29,29,25,0,29,29,29
Apple,116,116,116,116,116,116,105,9,116,116,116
Asus,415,415,415,415,415,415,409,168,415,415,415
Deep Gaming,8,8,8,8,8,8,8,8,8,8,8
Dell,84,84,84,84,84,84,84,6,84,84,84
Denver,1,1,1,1,1,1,1,0,1,1,1
Dynabook Toshiba,19,19,19,19,19,19,19,0,19,19,19
Gigabyte,48,48,48,48,48,48,48,46,48,48,48
HP,368,368,368,368,368,368,361,87,367,368,368
Innjoo,6,6,6,6,6,6,6,0,6,6,6
Jetwing,1,1,1,1,1,1,1,0,1,1,1
LG,32,32,32,32,32,32,32,7,32,32,32
Lenovo,366,366,366,366,366,366,363,74,364,366,366
MSI,308,308,308,308,308,308,308,256,308,308,308
Medion,32,32,32,32,32,32,30,10,32,32,32
Microsoft,77,77,77,77,77,77,74,4,77,77,77
Millenium,2,2,2,2,2,2,2,2,2,2,2
PcCom,24,24,24,24,24,24,22,24,24,24,24
Primux,8,8,8,8,8,8,8,0,8,8,8
Prixton,3,3,3,3,3,3,1,0,3,3,3
Razer,37,37,37,37,37,37,37,35,37,37,37
Realme,1,1,1,1,1,1,1,0,1,1,1
Samsung,22,22,22,22,22,22,21,2,22,22,22
Thomson,4,4,4,4,4,4,3,0,4,4,4
Toshiba,1,1,1,1,1,1,1,0,1,1,1
Vant,11,11,11,11,11,11,11,0,11,11,11

In [10]:
df_innjoo_laptop = laptop_df[laptop_df.Brand == "Innjoo"]
df_array_values = df_innjoo_laptop[["RAM","Storage","Screen"]]
x = df_array_values.values
XTX = x.T.dot(x)
y = np.array([1100, 1300, 800, 900, 1000, 1100])
w = np.linalg.inv(XTX).dot(x.T).dot(y)
print(w.shape)
print(w)
print(w.sum().round(2))

(3,)
[45.58076606  0.42783519 45.29127938]
91.3